body
{
    padding-top: 60px;
    color: #fff;
}

header
{
    margin-bottom: 30px;
}

    header h1
    {
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
        color: #fff;
        margin-bottom: 10px;
    }

    header a
    {
        color: orange;
    }

.modal
{
    color: #333;
}

#gallery a
{
    text-decoration: none;
}

#gallery a img
{
    margin: 7px;
    -moz-box-shadow: 0 0 10px #aaa;
    -webkit-box-shadow: 0 0 10px #aaa;
    box-shadow: 0 0 10px #aaa;
}
    #gallery a:hover img
    {
    -moz-box-shadow: 0 0 15px #666;
    -webkit-box-shadow: 0 0 15px #666;
    box-shadow: 0 0 15px #666;
    }
